* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

body {
    max-width: 1890px;
    min-width: 1396px;
    margin: 0px auto;
}

header {
    width: 100%;
    height: 196px;
    background-image: url(./sub.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 84px 36px;
}

main {
    padding: 64px 36px ;
}

.divider {
    margin: 36px 0px;
}

.profiles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 36px 0;
}
.item {
    display: flex;
    flex-direction: column;
    width: 320px;
    box-shadow: 0 6px 24px rgb(45 75 162 / 12%);
    border-radius: 20px;
    transition: transform .2s ease-out 0s, box-shadow .2s ease-out 0s;
}

.item:hover   {
    box-shadow: 0 12px 36px rgb(224 202 121 / 60%);
}

.graf {
    width: 100%;
    height: 120px;
    background-image: url(./sub.png);
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
}

h2 {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #fff;
}

h1, h1>span {
    font-size: 28px;
    color: rgb(0, 0, 37);
    font-weight: 700;
    letter-spacing: 2px;
}

h1>span {
    color:#fe8d47;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 13px;
    
}

.subj {
    padding: 7px;
    width: 100%;
    margin: 5px 0px;
    border: 1px solid #ececec;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.subj_con {
    padding: 3px;
    flex-grow: 1;
}

.subj_tit {
    font-size: 17px;
    font-weight: 700;
    color: #3163b0;
}

.prep {
    font-size: 12px;
    font-weight: 700;
    color: rgb(87, 87, 87);
    margin-top: 13px;
}

.prep_name {
    font-size: 17px;
    font-weight: 700;
    color: #3163b0;
}

.buy_btn   {
    border: none;
    color: #fff;
    background-color: orange;
    border-radius: 3px;
    padding: 7px 0px;
    cursor: pointer;
    width: 100%;
    margin-top: 7px;
}

.buy_btn:hover   {
    opacity: 0.8;
}

.flex-center {
    padding: 13px;
    display: flex;
    align-items: center;
}

.show_about {
    cursor: pointer;
    font-size: 17px;
    color:rgb(87, 87, 87);
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid #87878766;
    width: 222px;
    padding: 7px;
}

.show_about:hover + .about {
    display: flex;
}

.about {
    display: none;
    padding: 36px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.about:hover {
    display: flex;
}

.col {
    max-width: 32%;
    display: flex;
    flex-direction: column;
    padding: 7px;
}